{% extends "base.html" %}

{% block content %}
<div class="card">
    <div style="display: flex; justify-content: space-between; align-items: center; gap: 12px; flex-wrap: wrap;">
        <h2>мои заявки</h2>
        <div>
            <a href="/transport_dispatcher/create" class="btn btn-success">+ Новая заявка</a>
            <a href="/transport_dispatcher/cargo" class="btn btn-secondary">Перейти к грузам</a>
        </div>
    </div>
    <div class="requests-list">
        {% for req in requests %}
        <div class="request-card">
            <div class="field">
                <strong>Дата:</strong> {{ req.request_date|format_date_ru }}
            </div>
            <div class="field">
                <strong>ФИО:</strong> {{ req.fullname }}
            </div>
            <div class="field">
                <strong>Паспорт:</strong> {{ req.passport }}
            </div>
            <div class="field">
                <strong>Цель:</strong> {{ req.trip_purpose.value}}
            </div>
            <div class="field">
                <strong>ГТЮ:</strong> {{ req.gtu_relation.value }}
            </div>
            <div class="field">
                <strong>Откуда:</strong> {{ req.flight_from.name}}
            </div>
            <div class="field">
                <strong>Куда:</strong> {{ req.flight_to.name}}
            </div>
            <div class="field">
                <strong>План. дата:</strong> {{ req.planning_date|format_date_ru }}
            </div>
            <div class="field">
                <strong>Статус рук.:</strong>
                <span class="status-{{ req.department_director_status.name.lower() }}">
                    {{ req.department_director_status.value }}
                </span>
            </div>
            <div class="field">
                <strong>Статус СОВП:</strong>
                <span class="status-{{ req.main_dispatcher_status.name.lower() }}">
                    {%if req.main_dispatcher_status.value=="разрешен"%}
                        {% if req.passenger_flights and req.passenger_flights|length > 0 %}
                            {{ req.passenger_flights[0].flights.departure_date|format_date_ru }}
                        {%else%}
                            {{ req.main_dispatcher_date|format_date_ru }}  
                        {% endif %}
                    {%else%}
                        {{ req.main_dispatcher_status.value }}
                    {%endif%}
                </span>
            </div>
            <div class="field">
                <strong>Статус вылета:</strong>
                <span class="status-{{ req.flight_status.name.lower() }}">
                    {{ req.flight_status.value }}
                </span>
            </div>
            <div class="actions">
                <button type="button" 
                    class="btn btn-danger btn-icon" 
                    onclick="deletePassenger('{{ req.id }}')">  
                    Удалить
                </button>
                <button type="button" 
                    class="btn btn-info btn-icon" 
                    onclick="window.location.href='edit/{{ req.id }}'">
                    Редактировать
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
async function deletePassenger(passengerId) {

    try {
        const response = await fetch(`/transport_dispatcher/delete/${passengerId}`, {
            method: 'DELETE',
        });

        if (response.ok) {
            alert('Запись успешно удалена');
            window.location.reload(); 
        } else {
            const errorData = await response.json();
            alert('Ошибка при удалении: ' + (errorData.detail || 'Неизвестная ошибка'));
        }
    } catch (error) {
        console.error('Ошибка:', error);
        alert('Произошла системная ошибка при попытке удаления');
    }
}
</script>
{% endblock %}