{% extends "base.html" %}

{% block title %}Новая заявка | Система Газпром{% endblock %}

{% block content %}
<div class="card" style="max-width: 800px; margin: 0 auto;">
    <h2 style="color: var(--gz-dark); margin-bottom: 1.5rem; border-bottom: 2px solid var(--gz-blue); padding-bottom: 0.5rem;">
        изменение заявки на перевозку
    </h2>

    <form action="/transport_dispatcher/edit/{{passenger.id}}" method="post" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
        
        <!-- ФИО -->
        <div style="grid-column: span 2;">
            <label style="display:block; margin-bottom:5px;">ФИО сотрудника</label>
            <input type="text" name="fullname" required placeholder="Иванов Иван Иванович" 
                   style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px;"
                   value="{{passenger.fullname}}">
        </div>
        <!-- Маршрут перелета -->
        <div style="grid-column: span 2;">
            <label style="display:block; margin-bottom:5px;">точка назначения</label>
            <select name="flight_to" required style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; background: white;">
                <option value="{{passenger.flight_to_id}}" selected>{{passenger.flight_to.name}}</option>
                {% for route in departments %}
                    <option value="{{ route.id }}">{{ route.name }}</option>
                {% endfor %}
            </select>
        </div>


        <!-- филиал -->
        <div>
            <label style="display:block; margin-bottom:5px;">место отправления</label>
            <select name="flight_from" required style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; background: white;">
                <option value="{{passenger.flight_from_id}}" selected>{{passenger.flight_from.name}}</option>
                {% for dept in departments %}
                    <option value="{{ dept.id }}">{{ dept.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <!-- Дата рождения -->
        <div>
            <label style="display:block; margin-bottom:5px;">Дата рождения</label>
            <input type="date" name="birthdate" required value = {{passenger.birthdate}}
                   style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px;">
        </div>

        <!-- Пол -->
        <div>
            <label style="display:block; margin-bottom:5px;">Пол</label>
            <select name="gender" required style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; background: white;">
                <option value="муж">Мужской</option>
                <option value="жен">Женский</option>
            </select>
        </div>

        <!-- Паспорт -->
        <div>
            <label style="display:block; margin-bottom:5px;">Серия и номер паспорта</label>
            <input type="number" name="passport" required placeholder="1234567890" value="{{passenger.passport}}"
                   style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px;">
        </div>
        
        <!-- Планируемая дата и Вес груза -->
        <div>
            <label style="display:block; margin-bottom:5px;">Планируемая дата</label>
            <input type="date" name="planning_date" required 
                   style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px;"
                   value="{{passenger.planning_date}}">
        </div>

        <div>
            <label style="display:block; margin-bottom:5px;">Вес груза (кг)</label>
            <input type="number" step="0.1" name="cargo_weight" placeholder="0.0" 
                   style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px;"
                   value="{{passenger.cargo_weight}}">
        </div>
        <!-- Цель поездки -->
        <div style="grid-column: span 2;">
            <label style="display:block; margin-bottom:5px;">Цель поездки</label>
            <!-- <textarea name="trip_purpose" required rows="3" placeholder="Укажите причину командировки" -->
                      <!-- style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; font-family: inherit; resize: vertical;"></textarea> -->
            <select name="trip_purpose" required style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; background: white;">
                <option value="{{passenger.trip_purpose.value}}" selected>{{passenger.trip_purpose.value}}</option>
                {% for purpose in TripPurpose %}
                    <option value="{{ purpose.value }}">{{ purpose.value }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- отношение к ГТЮ -->
        <div style="grid-column: span 2;">
            <label style="display:block; margin-bottom:5px;">отношение к ГТЮ</label>
            <!-- <textarea name="trip_purpose" required rows="3" placeholder="Укажите причину командировки" -->
                      <!-- style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; font-family: inherit; resize: vertical;"></textarea> -->
            <select name="gtu_relation" required style="width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; background: white;">
                <option value="{{passenger.gtu_relation.value}}"  selected>{{passenger.gtu_relation.value}}</option>
                {% for relation in GTURelation %}
                    <option value="{{ relation.value }}">{{ relation.value }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Кнопки -->
        <div style="grid-column: span 2; display: flex; gap: 10px; margin-top: 10px;">
            <button type="submit" class="btn btn-primary" style="flex: 1; font-weight: bold;">
                ОТПРАВИТЬ ЗАЯВКУ
            </button>
            <a href="/transport_dispatcher/" class="btn" style="background: #ccc; color: #333; text-align: center; line-height: 24px;">Отмена</a>
        </div>

    </form>
</div>
{% endblock %}
