{% extends "base.html" %}

{% block content %}
<div class="card">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Все заявки на перевозку</h2>
        <!-- Кнопка для отправки формы -->
        <a href="/dispatcher/done">выполненные заявки</a>
        <button type="submit" form="status-form" class="btn-submit">Изменить статус выбранных</button>
    </div>

    <!-- Оборачиваем таблицу в форму -->
    <form id="status-form" action="/dispatcher/change_status" method="POST">
        <select name="flight">
            {%for i in flights%}
                <option value="{{i.id}}">{{i.aircraft_type}}-{{i.flight_number}}-{{i.route}}</option>
            {%endfor%}
        </select>
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all"></th> <!-- Чекбокс "Выбрать все" -->
                    <th>id</th>
                    <th>Дата заявки</th>
                    <th>желаемая дата</th>
                    <th>ФИО</th>
                    <th>Паспорт</th>
                    <th>вес багажа</th>
                    <th>откуда</th>
                    <th>куда</th>
                    <th>ГТЮ</th>
                    <th>Статус директора</th>
                    <th>Статус диспетчера</th>
                </tr>
            </thead>
            <tbody>
                {% for req in requests %}
                <tr>
                    <td>
                        <!-- value="{{ req.id }}" — это ID заявки из вашей БД -->
                        <input type="checkbox" name="selected_ids" value="{{ req.id }}">
                    </td>
                    <td>{{ loop.index }}</td>
                    <td>{{ req.request_date }}</td>
                    <td>{{ req.planning_date }}</td>
                    <td>{{ req.fullname }}</td>
                    <td>{{ req.passport }}</td>
                    <td>{{ req.cargo_weight }}</td>
                    <td>{{ req.flight_from.name }}</td>
                    <td>{{ req.flight_to.name }}</td>
                    <td>{{ req.gtu_relation.value }}</td>
                    <td>
                        <span class="status-{{ req.department_director_status.name.lower() }}">
                            {{ req.department_director_status.value }}
                        </span>
                    </td>
                    <td>
                        <span class="status-{{ req.main_dispatcher_status.name.lower() }}">
                            {{ req.main_dispatcher_status.value }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

<script>
    // Скрипт для работы чекбокса "Выбрать все"
    document.getElementById('select-all').onclick = function() {
        var checkboxes = document.getElementsByName('selected_ids');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }
</script>
{% endblock %}
<!-- <div class="card">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>перелеты и пассажиры</h2>
    </div>

    <table>
        <thead>
            <tr>
                <th>дата</th>
                <th>маршрут</th>
                <th>пассажир</th>
                <th>Паспорт</th>
                <th>вес багажа</th>
                <th>место</th>
                <th>id перелета</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td>{{ flight.flights.flight_date }}</td>
                <td>{{ flight.flights.flight_routes.route}}</td>
                <td>{{ flight.passengers.fullname }}</td>
                <td>{{ flight.passengers.passport }}</td>
                <td>{{ flight.passengers.cargo_weight }}</td>
                <td>{{ flight.place }}</td>
                <td>{{ flight.flight_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> -->

